<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Our Services</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"/></svg>
        </div>
        <h2>What we can offer</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quaerat iusto, ut excepturi ullam esse porro impedit fugiat incidunt. Voluptates, id totam sunt accusamus quia harum in porro vitae. Fugit?</p>
        <a href="#" class="icon-link">
          Call to action
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"/></svg>
        </div>
        <h2>Feedback</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit at voluptas itaque magni facere asperiores! Expedita, illo commodi. Dignissimos doloribus deleniti eius placeat.</p>
        <a href="#" class="icon-link">
          Call to action
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
        </div>
        <h2>What to expect from us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil magni dolores consequuntur esse, id unde voluptatibus. Quam rem error aperiam exercitationem voluptatem, doloribus reiciendis modi odit aspernatur sapiente ullam repudiandae.</p>
        <a href="#" class="icon-link">
          Call to action
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
    </div>
  </div>